body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  height: auto;
  font-size: 1.1em;
}
div {
  display: block;
}
.header-container {
  width: 90%;
  margin: 0 auto;
}
header {
  width: 100%;
  top: 0;
  background: #000d24;
  position: fixed;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.icon {
  margin: 8px 5px;
  padding: 1px 2px;
  width: 25px;
  float: right;
  background: white;
  border-radius: 5px;
}
nav {
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 10px;
}
@media only screen and (max-width: 600px) {
  nav li {
    display: flex;
  }
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
}
nav a:hover {
  color: #dbadff;
}
.welcome-section {
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0 0 0 0;
  height: 100vh;
  width: 100vw;
  background-image: url('https://lh3.google.com/u/0/d/1QxG7AeTrrYVWVY6euRiMPi5uXei7OiBL=w2560-h1156-iv1');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
h1 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 160px 0 0 0;
}
h3 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
}
.about-section {
  margin: 0;
  top: 0;
  height: 100vh;
  background: #d3d3d3;
  background-image: url(https://lh3.google.com/u/0/d/1KOSfjofBWXM5SJaPzxWZSKMQF5_mwjYQ=w2560-h1156-iv1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
h4 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 100px 0 0 20px;
}
#resume {
  color: #dbadff;
  font-size: 0.7em;
  font-weight: 200;
}
#resume:hover {
  color: red;
}
h5 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 20px 0 0 0;
}
h2 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 40px 0 30px 0;
}
.project-section {
  background: #666633;
  margin: 0;
  padding: 0 0 50px 0;
  texe-align: center;
  background-image: url(https://lh3.google.com/u/0/d/1aeov4Mpyc6vnhSJvHzP0HzE2w8QAdgwE=w1846-h1124-iv1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  justify-items: center;
}
.project-image {
  height: 300px;
  width: 350px;
  object-fit: cover;
}
.project-tile {
  background: #003366;
}
.project-title {
  text-align: center;
  margin: 0;
  background: #003366;
  font-size: 1.1em;
  padding: 0 0 12px 0;
}
section a {
  text-decoration: none;
  color: white;
}
section a:hover {
  text-decoration: none;
  color: #dbadff;
}
